.App {
  text-align: center;
}

.logo {
  height: 10vmin;
  pointer-events: none;
  max-height: 10vmin;
  margin: .5rem;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: .5rem;
}

.App-link {
  color: #61dafb;
}

.grid-sizer,
.grid-item {
  width: 25%;
}

.grid {
  margin: 0 auto;
  max-width: 1165px;
}

.grid-item img {
  width: 100%;
  max-width: 100%;
}

.grid-item-inner {
  margin: .5rem;
  background-color: #282c34;
  color: white;
}

.grid-item-data {
  padding: .5rem;
}
